<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}FOCUS PROJECT!{% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/backend.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <!-- jQuery first, then Tether, then Bootstrap JS. -->
            <script src="{{ asset('js/jquery.slim.min.js') }}"></script>
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
