{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>List of Users
        {{ focus_create_button('user.create') }}
    </h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">

        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% if entities is not empty %}
            {% for entity in entities %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{ focus_read_button(entity.id, entity.firstName, 'user.read' ) }}
                    </td>
                    <td>
                        {{ focus_read_button(entity.id, entity.lastName, 'user.read' ) }}
                    </td>

                    <td>
                        {{ entity.userName }}
                    </td>

                    <td>
                        {{ entity.email}}
                    </td>

                    <td>
                        {{ focus_update_button(entity.id, 'user.update') }}
                        {{ focus_delete_button(entity.id, 'user.delete') }}
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th colspan="6">There isn't Users to show.</th>
            </tr>
        {% endif %}
        </tbody>

        <tfoot>
        <tr>
            <th colspan="6">All Users: {{ entities | length }}</th>
        </tr>
        </tfoot>

    </table>
{% endblock %}
