{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>{{ entity.userName }}</h1>
{% endblock %}

{% block content %}
    <p>{{ entity.firstName }}</p>
    <p>{{ entity.lastName }}</p>
    <p>{{ entity.email }}</p>
    <h6><strong>Created At: </strong>{{ entity.createdAt | focus_datetime }}</h6>
{% endblock %}
