{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>Demo Bootstrap</h1>
{% endblock %}

{% block content %}
    <h2 id="examples">Example Buttons</h2>
    <div class="bd-example" data-example-id="">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
{% endblock %}
