{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="fluid-container">
            <div class="container">
                {% block menu %}
                    {% include 'layout/menu.html.twig' %}
                {% endblock %}
            </div>
        </div>

        <div class="fluid-container">
            <div class="container">
                {% block header %}{% endblock %}
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content">
            {% block flash_messages %}
                {% include 'layout/flash_messages.html.twig' %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="fluid-container">
            {% block footer %}

                    {% include 'layout/footer.html.twig' %}
            {% endblock %}
        </div>
    </footer>

{% endblock %}


