<a href="{{ path('app.default.index') }}" class="">Main Page</a> |
<a href="{{ path('post.index') }}" class="">List of Posts</a> |
<a href="{{ path('tag.index') }}" class="">List of Tags</a> |
<a href="{{ path('user.index') }}" class="">List of Users</a>

