{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>List of Posts
        {{ focus_create_button('post.create') }}
    </h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">

        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Summary</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% if entities is not empty %}
            {% for entity in entities %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{ focus_read_button(entity.id, entity.name, 'post.read' ) }}
                    </td>
                    <td>
                        {{ focus_read_button(entity.id, entity.summary | focus_max_characters(35), 'post.read' ) }}
                    </td>
                    <td>{{ entity.createdAt | focus_datetime }}</td>
                    <td>
                        {{ focus_update_button(entity.id, 'post.update') }}
                        {{ focus_delete_button(entity.id, 'post.delete') }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th colspan="5">There isn't Posts to show.</th>
            </tr>
        {% endif %}
        </tbody>

        <tfoot>
        <tr>
            <th colspan="5">All Posts: {{ entities | length }}</th>
        </tr>
        </tfoot>

    </table>
{% endblock %}
