{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>{{ entity.name }}<span> id: {{ entity.id }}, slug: {{ entity.slug }}</span></h1>
{% endblock %}

{% block content %}
    <p>{{ entity.summary }}</p>
    <p>{{ entity.content }}</p>
    <h6><strong>Created At: </strong>{{ entity.createdAt | focus_datetime }}</h6>
{% endblock %}
