{% extends 'layout/index.html.twig' %}

{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
#}
{% block header %}
    {{ parent() }}

    <h1>Create or Update Post</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
            {{ form_row(form.name) }}
            {{ form_row(form.summary) }}
            {{ form_row(form.content) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
