//
// Variables for main layout
//

$header-height: 100px;
$content-height: 400px;
$footer-height: 150px;

/* Coolors Exported Palette - coolors.co/ffa400-009ffd-2a2a72-232528-eaf6ff */

/* RGB */
$color1: rgba(255, 164, 0, 1);
$color2: rgba(0, 159, 253, 1);
$color3: rgba(42, 42, 114, 1);
$color4: rgba(35, 37, 40, 1);
$color5: rgba(234, 246, 255, 1);

// Reassign color vars to semantic color scheme
$brand-primary: $color2;
$brand-success: $color3;
$brand-info: $color4;
$brand-warning: lighten($color1, 10%);
$brand-danger: darken($color1, 10%);
$brand-inverse: $color4;

// Body
//
// Settings for the `<body>` element.
$body-bg:       lighten($color5, 2%);
$body-color:    $color4;

// Components
//
// Define common padding and border radius sizes and more.
$border-radius:          .25rem * 3;
$border-radius-lg:       .3rem * 3;
$border-radius-sm:       .2rem * 3;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-inverse-bg:              $color3;
$table-inverse-color:           $body-bg;

$table-bg-accent:               $color5;
$table-border-width:            0px;
$table-bg-hover:                darken($color5, 2%);
