@import "customVariables";
@import "mixins";

//
// Styles for main layout
//

header {
    @include layout();
    min-height: $header-height;

    .fluid-container {
        &:first-of-type {
            @include stripe(10px);
        }
    }

    .fluid-container {
        &:last-of-type {
            padding: {
                top: $header-height - 30px;
                bottom: 10px;
            };

            h1 {
                span {
                    font-size: small;
                }
            }
        }
    }
}

.content {
    min-height: $content-height;
    @include paddingTB(20px);

    h6 {
        font-size: small;
        text-align: right;
    }

    p {
        &:first-of-type {
            font-style: italic;
            color: $color2;
            @include marginTB(30px);
        }
        text-align: justify;

        &:nth-of-type(2) {
            &:first-letter {
                color: $color3;
                font-size: xx-large;
                font-weight: bold;
            }
        }
    }
}

footer {
    @include layout();
    min-height: $footer-height;
    text-align: center;

    h6 {
        @include stripe(20px);
    }
}
