@import "customVariables";

//
// Mixin for main layout
//

@mixin layout() {
    background-color: $color4;
    color: $color5;
}

@mixin stripe($padding) {
    background-color: $color3;
    padding: {
        top: $padding;
        bottom: $padding;
    };
}

@mixin marginTB($margin) {
    margin: {
        top: $margin;
        bottom: $margin;
    };
}

@mixin paddingTB($padding) {
    margin: {
        top: $padding;
        bottom: $padding;
    };
}
