@import "customVariables";

$border-radius: 15px;

//
// Styles for Table
//

table,th,td {
    border: 0;
    border-spacing: 0
}

thead {
    th {
        &:first-child {
            border-radius: $border-radius 0 0 0
        }
        &:last-child {
            border-radius: 0 $border-radius 0 0
        }
    }
}

tbody {
    tr {
        th {
            color: $color1;
        }
        td {
            &:nth-child(4) {
                font-size: smaller;
                color: $color1;
            }
        }
    }
}

tfoot {
    &:first-of-type {
        color: $table-inverse-color;
        background-color: $color4;
    }
    tr {
        th {
            text-align: right;
            font-size: smaller;
        }
    }
}
