{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>List of Tags
        {{ focus_create_button('tag.create') }}
    </h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">

        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% if entities is not empty %}
            {% for entity in entities %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{ focus_read_button(entity.id, entity.name, 'tag.read' ) }}
                    </td>
                    <td>
                        {{ focus_read_button(entity.id, entity.slug, 'tag.read' ) }}
                    </td>

                    <td>
                        {{ focus_update_button(entity.id, 'tag.update') }}
                        {{ focus_delete_button(entity.id, 'tag.delete') }}
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th colspan="6">There isn't Tags to show.</th>
            </tr>
        {% endif %}
        </tbody>

        <tfoot>
        <tr>
            <th colspan="6">All Tags: {{ entities | length }}</th>
        </tr>
        </tfoot>

    </table>
{% endblock %}
