{% extends 'layout/index.html.twig' %}

{% block header %}
    {{ parent() }}

    <h1>Create or Update Tag</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
            {{ form_row(form.name) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
